* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, sans-serif;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #333;
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: aqua;
}

.seasons a{
    font-size: 1rem;
    text-decoration: none;
    color: aqua;
}

.main-content {

    padding: 2rem;
}